# Local .terraform directories
**/.terraform/*
*.tfvars
.terraform*

# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

#copied from the following link
#https://github.com/hashicorp/terraform-guides/blob/master/.gitignore
#https://github.com/github/gitignore/blob/main/Terraform.gitignore
